.section {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}

.header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.image {
  width: 80%;
}

.image img {
  width: 100%;
}

.content {
  margin: 1rem 0;
}

.title {
  font-size: 1.2rem;
  color: var(--title-color);
  margin-bottom: 5px;
}

.links {
  display: flex;
  flex-direction: column;
}

.linkBtn {
  margin: 5px 0;
  width: 300px;
  height: 50px;
  line-height: 50px;
  border: 3px solid var(--font-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.linkBtn:hover {
  background-color: var(--font-color);
  color: var(--backgournd-color);
}

.linkBtn:active {
  transform: translatey(1px);
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .section {
    padding: 3rem 0;
  }

  .wrapper {
    align-items: center;
    text-align: center;
  }

  .image {
    width: 100%;
  }

  .links {
    align-items: center;
    justify-content: center;
  }
}

/* SmartPhone */
@media screen and (max-width: 768px) {
}
