@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

:root {
  --backgournd-color: black;
  --font-color: rgba(255, 255, 255, 0.85);
  --header-color: rgba(37, 65, 70, 0.6);
  --hover-color: #638b9a;
  --title-color: #a5c8df;
  --heading-color: rgb(118, 127, 130);
  --main-font: 'Do Hyeon', sans-serif;
  --heading-font: 'Krona One', sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--backgournd-color);
  color: var(--font-color);
  font-family: var(--main-font);
}

/* common css */
.heading {
  font-size: 5rem;
  text-shadow: var(--font-color) 2px 2px 2px;
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/* header */
header {
  padding: 2rem 2rem;
  background-color: var(--header-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  cursor: pointer;
}

.menu {
  display: flex;
}

.menu-item {
  margin: 0 1rem;
  transition: transform 0.1s ease-in-out;
}

.menu-item:hover {
  cursor: pointer;
  color: var(--hover-color);
  transform: scale(1.1);
}

/* main */
section {
  box-sizing: border-box;
  height: 100vh;
}

/* main - home section */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
}

.greeting {
  top: 0;
  left: 0;
  font-size: 4rem;
  position: absolute;
  top: 35%;
  left: 15%;
}

.greeting-intro {
  margin-bottom: 4rem;
}

/* main - about section */

.about-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-profile {
  width: 100%;
  height: 100%;
  padding: 3rem;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.about-contents {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  margin: 3rem;
}

.about-desc {
  font-size: 1.2rem;
}

.about-skills {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.about-skills i {
  font-size: 4rem;
  display: block;
}

.about-image {
  max-width: 600px;
  min-width: 250px;
}

.about-image img {
  border-radius: 1rem;
  width: 100%;
}

/* main - project section */
.project-section {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}

.project-header {
  text-align: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.project-image {
  width: 80%;
}

.project-image img {
  width: 100%;
}

.project-content {
  margin: 1rem 0;
}

.project-title {
  font-size: 1.2rem;
  color: var(--title-color);
  margin-bottom: 5px;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-linkBtn {
  margin: 5px 0;
  width: 300px;
  height: 50px;
  line-height: 50px;
  border: 3px solid var(--font-color);
  border-radius: 5px;
  color: var(--font-color);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.project-linkBtn:hover {
  background-color: var(--font-color);
  color: var(--backgournd-color);
}

.project-linkBtn:active {
  transform: translatey(1px);
}

/* main - contact section */
.contact-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-list {
  margin-left: 5rem;
}

.contact-link {
  font-size: 1.2rem;
  margin: 1rem;
}

.contact-list p {
  font-weight: bold;
}

.contact-link a {
  text-decoration: none;
  color: var(--font-color);
}

.contact-link a:hover {
  color: var(--hover-color);
}

/* footer */
footer {
  text-align: center;
  margin: 1.5rem;
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .heading {
    font-size: 4rem;
  }

  section {
    width: 100vw;
    height: auto;
    border: 1px solid green;
  }

  /* Main - Home Section */

  .home-section {
    height: 600px;
  }

  .video-background {
    height: 600px;
  }

  .greeting {
    top: 17%;
    left: 10%;
    font-size: 3rem;
  }

  .greeting-intro {
    margin-bottom: 3rem;
  }

  /* Main - About Section */
  .about-profile {
    flex-direction: column-reverse;
    padding: 2rem;
    justify-content: center;
  }

  .about-contents {
    margin: 0;
  }

  .about-skills {
    margin-top: 1.5rem;
  }

  .about-skills i {
    font-size: 3rem;
  }

  .about-image {
    margin: 2rem 0;
    height: 250px;
  }

  .about-image img {
    height: 250px;
  }

  /* Main - Project Section */
  .project-section {
    padding: 3rem 0;
  }

  .project-wrapper {
    align-items: center;
    text-align: center;
  }

  .project-image {
    width: 100%;
  }

  .project-links {
    align-items: center;
    justify-content: center;
  }

  /* Main - Contact Section */
  .contact-container {
    margin: 3rem 0;
    flex-direction: column;
  }
  .contact-list {
    margin-left: 0;
    margin-top: 3rem;
  }
}

/* SmartPhone */
@media screen and (max-width: 768px) {
  body {
    font-size: 0.85rem;
  }

  .heading {
    font-size: 2rem;
  }

  /* Hearder Nav */
  header {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  /* Main - Home Section */
  .greeting {
    top: 25%;
    font-size: 2rem;
  }

  /* Main - About Section */
  .about-desc {
    font-size: 0.85rem;
  }

  .about-skills i {
    font-size: 2.5rem;
  }
  /* Footer */
  footer {
    font-size: 0.5rem;
  }
}
